ION*
*.csv
.vs/
*.pyc
*/*.pyc
.vscode/*
__pycache/*
*/__pycache/*
*/__pycache__/*
*.yaml
*.log
results/*
data/*
fgo*
docs/ION*
*.out
.pytest_cache
*.html

scripts/slurm*
notebooks/.ipynb_checkpoints/*
*.out
